.muzieknootjes {
  display: block;
  margin: auto;
  position: relative;
  width: 100%;
  min-width: 300px;
  height: 200px;
  border: 0px solid #000;
  height: 95vh;
  background-color: black;
  color: white;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4 {
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 10vh;
  opacity: 0;
}

.noot-1 {
  top: 60%;
  left: 0;
  animation-delay: 0.5s;
}

.noot-2 {
  top: 30%;
  left: 30%;
  animation-delay: 1s;
}

.noot-3 {
  top: 80%;
  left: 60%;
  animation-delay: 1.5s;
}

.noot-4 {
  top: 40%;
  left: 90%;
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}
