.muzieknootjes {
  --background: linear-gradient(
    to right,
    hsl(176, 29%, 20%),
    hsl(143, 33%, 29%)
  );
  --shadow-1: hsla(236, 50%, 50%, 0.3);
  --shadow-2: hsla(236, 50%, 50%, 0.4);
  display: block;
  margin: auto;
  position: absolute;
  width: 100%;
  min-width: 300px;
  height: 200px;
  border: 0px solid #000;
  height: 100vh;
  background: var(--background);
  color: white;
  overflow: hidden;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4 {
  position: absolute;
  animation: notes 3s infinite linear;
  font-size: 12vh;
  opacity: 0;
  user-select: none;
}

.noot-1 {
  top: 60%;
  left: 0;
  animation-delay: 0.75s;
}

.noot-2 {
  top: 20%;
  left: 30%;
  animation-delay: 1.5s;
}

.noot-3 {
  top: 80%;
  left: 60%;
  animation-delay: 2.25s;
}

.noot-4 {
  top: 40%;
  left: 85%;
  animation-delay: 3s;
}
.noot-1:hover,
.noot-2:hover,
.noot-3:hover,
.noot-4:hover {
  color: #1db954;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}
