.musicnotes {
  --background: linear-gradient(
    to right,
    hsl(176, 29%, 20%),
    hsl(143, 33%, 29%)
  );
  --shadow-1: hsla(236, 50%, 50%, 0.3);
  --shadow-2: hsla(236, 50%, 50%, 0.4);
  display: block;
  margin: auto;
  position: absolute;
  width: 100%;
  min-width: 300px;
  border: 0px solid #000;
  height: 100vh;
  background: var(--background);
  color: white;
  overflow: hidden;
}

.note-1,
.note-2,
.note-3,
.note-4,
.note-5,
.note-6 {
  position: absolute;
  animation: notes 3s infinite linear;
  font-size: 12vh;
  opacity: 0;
  user-select: none;
}

.note-1 {
  top: 80%;
  left: 0;
  animation-delay: 0.75s;
}

.note-2 {
  top: 20%;
  left: 30%;
  animation-delay: 1.5s;
}

.note-3 {
  top: 85%;
  left: 60%;
  animation-delay: 2.25s;
}

.note-4 {
  top: 40%;
  left: 85%;
  animation-delay: 3s;
}

.note-5 {
  top: 30%;
  left: 20%;
  animation-delay: 3.5s;
}
.note-6 {
  top: 50%;
  left: 55%;
  animation-delay: 4s;
}
.note-1:hover,
.note-2:hover,
.note-3:hover,
.note-4:hover,
.note-5:hover,
.note-6:hover {
  color: black;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}
