.bg {
  height: 95vh;
  background-color: black;
}

.welcome {
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.95;
}
.btn {
  font-family: "Open Sans", sans-serif;
  background-color: #1db954;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  height: 80px;
  border-radius: 40px;
  border: #1db954;
  padding: 20px;
}
.nologin {
  padding: 16px;
  text-decoration-color: #1db954;
  color: #1db954;
}
.btn:hover {
  background-color: rgb(59, 56, 56);
  border-color: #1db954;
  color: #1db954;
}
#signin {
  padding: 20px;
  border-radius: 50px;
  background-color: #1db954;
  font-weight: 600;
  color: white;
  text-decoration: none;
}
#signin:hover {
  background-color: rgb(87, 82, 82);
  border-color: #1db954;
  color: #1db954;
}
