.welcome {
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.95;
}
.btn {
  font-family: "Open Sans", sans-serif;
  background-color: #1db954;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  height: 80px;
  border-radius: 40px;
  border: #1db954;
  padding: 20px;
  text-align: center;
}

img {
  margin-top: 30px;
  width: 400px;
  height: 400px;
}
.menu-card {
  width: 20vw;
}
.nologin {
  padding: 16px;
  text-decoration-color: #1db954;
  color: #1db954;
}
.btn:hover {
  animation-name: btn-hover;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  transform: translateY(-5px);
}

@keyframes btn-hover {
  100% {
    background-color: white;
    color: #1db954;
  }
}
