.topnav {
  font-size: 26px;
  font-family: "Reaver", serif;
  font-weight: 600;
  letter-spacing: 3px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15 px 5 px;
  margin: 0 px 20 px;
  text-transform: uppercase;
  background-color: black;
  height: 5vh;
  position: absolute;
  width: 100%;
}
.navelement {
  z-index: 2;
  padding-left: 1vw;
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.navelement:hover {
  opacity: 1;
}

.nav-help {
  position: absolute;
  right: 1vw;
  float: right;
}

@media screen and (max-width: 480px) {
  .navelement:first-child {
    font-size: 12 !important;
  }
}
