.modalbg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.modalWrap {
  --background: linear-gradient(
    to top left,
    hsl(152, 23%, 51%),
    hsl(143, 85%, 39%)
  );
  width: 600px;
  height: 800px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: var(--background);
  color: hsl(163, 49%, 90%);
  z-index: 10;
  border-radius: 3%;
}

h3 {
  margin: 0;
}
header {
  font-size: 48px;
  margin: 0;
}

.modalContent {
  margin: 10%;
  align-items: center;
  color: hsl(163, 49%, 90%);
  text-align: center;
}

.modalBtn {
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translateX(-90px);
  height: 60px;
  width: 180px;
  border: 1px solid hsl(143, 85%, 39%);
  border-radius: 100rem;

  color: hsl(143, 85%, 39%);
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: 0.2rem;

  transition: 0.2s;
  cursor: pointer;
}

.modalBtn:hover,
.modalBtn:focus {
  border-color: hsl(163, 49%, 90%);
  background: hsl(163, 49%, 90%);
  transform: translate(-90px, -3px);
}
