.container {
  position: absolute;
  top: 30%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  height: 80px;
}

.answer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

#submit {
  padding: 0px;
  border-radius: 15px;
  height: 3.5vh;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 1vh;
  opacity: 0.9;
}
#submit:hover {
  opacity: 1;
}

#answer {
  width: 30vw;
  height: 3vh;
  border-radius: 25px;
  border-color: white;
  text-indent: 5px;
}
.progress {
  font-family: "Reaver", serif;
  position: absolute;
  top: 10%;
  color: white;
  width: 100%;
  font-size: 26px;
  text-align: center;
  font-weight: 800;
  opacity: 0.8;
}
.autocomplete {
  position: absolute;
  width: 30vw;
  z-index: 5;
}
.btn-ctrl {
  width: 80px;
}
.btn-ctrl:first-child {
  font-size: 30px;
}

.suggestions {
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: hsl(167, 24%, 93%);
  height: 30px;
}
.suggestions:hover {
  background-color: hsl(143, 59%, 49%);
}
@media screen and (min-width: 769px) {
  .mobile-break {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #answer,
  .autocomplete {
    width: 90vw;
    height: 4vh;
  }
  #submit {
    height: 35px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5%);
  }
  .container {
    top: 75%;
  }
}
