.container {
  position: absolute;
  top: 30%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  height: 15 vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  align-content: center;
  justify-content: center;
}

#submit {
  padding: 0px;
  border-radius: 15px;
  height: 3.5vh;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 1vh;
  opacity: 0.9;
  cursor: pointer;
}
#submit:hover {
  opacity: 1;
}

#answer {
  width: 30vw;
  height: 3vh;
  border-radius: 25px;
  border-color: white;
  text-indent: 5px;
}
.progress {
  font-family: "Reaver", serif;
  position: absolute;
  top: 5%;
  color: white;
  width: 100%;
  font-size: 26px;
  text-align: center;
  font-weight: 800;
  opacity: 0.8;
}
.autocomplete {
  position: absolute;
  width: 30vw;
  z-index: 5;
}
.btn-ctrl {
  width: 80px;
  padding-bottom: 2vh;
  font-size: 30px;
}

.slider {
  margin-top: 2vh;
  width: 15vw;
}
.suggestions {
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: hsl(167, 24%, 93%);
  height: 30px;
}
.suggestions:hover {
  background-color: hsl(143, 59%, 49%);
}
@media screen and (min-width: 769px) {
  .mobile-break {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #answer,
  .autocomplete {
    width: 80vw;
    height: 4vh;
    padding-left: 0px;
  }
  #submit {
    width: 3vw;
    height: 4.5vh;
  }
  .container {
    top: 33%;
  }
  .slider {
    width: 60vw;
  }
}
